@font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 100;
    src: url("assets/fonts/public-sans/variable/Public-Sans-Roman-VF.woff2") format("woff2-variations"), url("assets/fonts/public-sans/webfonts/PublicSans-Thin.woff2") format("woff2"), url("assets/fonts/public-sans/webfonts/PublicSans-Thin.woff") format("woff"); }
  @font-face {
    font-family: 'Public Sans';
    font-style: italic;
    font-weight: 100;
    src: url("assets/fonts/public-sans/variable/Public-Sans-Italic-VF.woff2") format("woff2-variations"), url("assets/fonts/public-sans/webfonts/PublicSans-ThinItalic.woff2") format("woff2"), url("assets/fonts/public-sans/webfonts/PublicSans-ThinItalic.woff") format("woff"); }
  @font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 200;
    src: url("assets/fonts/public-sans/variable/Public-Sans-Roman-VF.woff2") format("woff2-variations"), url("assets/fonts/public-sans/webfonts/PublicSans-ExtraLight.woff2") format("woff2"), url("assets/fonts/public-sans/webfonts/PublicSans-ExtraLight.woff") format("woff"); }
  @font-face {
    font-family: 'Public Sans';
    font-style: italic;
    font-weight: 200;
    src: url("assets/fonts/public-sans/variable/Public-Sans-Italic-VF.woff2") format("woff2-variations"), url("assets/fonts/public-sans/webfonts/PublicSans-ExtraLightItalic.woff2") format("woff2"), url("assets/fonts/public-sans/webfonts/PublicSans-ExtraLightItalic.woff") format("woff"); }
  @font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 300;
    src: url("assets/fonts/public-sans/variable/Public-Sans-Roman-VF.woff2") format("woff2-variations"), url("assets/fonts/public-sans/webfonts/PublicSans-Light.woff2") format("woff2"), url("assets/fonts/public-sans/webfonts/PublicSans-Light.woff") format("woff"); }
  @font-face {
    font-family: 'Public Sans';
    font-style: italic;
    font-weight: 300;
    src: url("assets/fonts/public-sans/variable/Public-Sans-Italic-VF.woff2") format("woff2-variations"), url("assets/fonts/public-sans/webfonts/PublicSans-LightItalic.woff2") format("woff2"), url("assets/fonts/public-sans/webfonts/PublicSans-LightItalic.woff") format("woff"); }
  @font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    src: url("assets/fonts/public-sans/variable/Public-Sans-Roman-VF.woff2") format("woff2-variations"), url("assets/fonts/public-sans/webfonts/PublicSans-Regular.woff2") format("woff2"), url("assets/fonts/public-sans/webfonts/PublicSans-Regular.woff") format("woff"); }
  @font-face {
    font-family: 'Public Sans';
    font-style: italic;
    font-weight: 400;
    src: url("assets/fonts/public-sans/variable/Public-Sans-Italic-VF.woff2") format("woff2-variations"), url("assets/fonts/public-sans/webfonts/PublicSans-Italic.woff2") format("woff2"), url("assets/fonts/public-sans/webfonts/PublicSans-Italic.woff") format("woff"); }
  @font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    src: url("assets/fonts/public-sans/variable/Public-Sans-Roman-VF.woff2") format("woff2-variations"), url("assets/fonts/public-sans/webfonts/PublicSans-Medium.woff2") format("woff2"), url("assets/fonts/public-sans/webfonts/PublicSans-Medium.woff") format("woff"); }
  @font-face {
    font-family: 'Public Sans';
    font-style: italic;
    font-weight: 500;
    src: url("assets/fonts/public-sans/variable/Public-Sans-Italic-VF.woff2") format("woff2-variations"), url("assets/fonts/public-sans/webfonts/PublicSans-MediumItalic.woff2") format("woff2"), url("assets/fonts/public-sans/webfonts/PublicSans-MediumItalic.woff") format("woff"); }
  @font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 600;
    src: url("assets/fonts/public-sans/variable/Public-Sans-Roman-VF.woff2") format("woff2-variations"), url("assets/fonts/public-sans/webfonts/PublicSans-SemiBold.woff2") format("woff2"), url("assets/fonts/public-sans/webfonts/PublicSans-SemiBold.woff") format("woff"); }
  @font-face {
    font-family: 'Public Sans';
    font-style: italic;
    font-weight: 600;
    src: url("assets/fonts/public-sans/variable/Public-Sans-Italic-VF.woff2") format("woff2-variations"), url("assets/fonts/public-sans/webfonts/PublicSans-SemiBoldItalic.woff2") format("woff2"), url("assets/fonts/public-sans/webfonts/PublicSans-SemiBoldItalic.woff") format("woff"); }
  @font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    src: url("assets/fonts/public-sans/variable/Public-Sans-Roman-VF.woff2") format("woff2-variations"), url("assets/fonts/public-sans/webfonts/PublicSans-Bold.woff2") format("woff2"), url("assets/fonts/public-sans/webfonts/PublicSans-Bold.woff") format("woff"); }
  @font-face {
    font-family: 'Public Sans';
    font-style: italic;
    font-weight: 700;
    src: url("assets/fonts/public-sans/variable/Public-Sans-Italic-VF.woff2") format("woff2-variations"), url("assets/fonts/public-sans/webfonts/PublicSans-BoldItalic.woff2") format("woff2"), url("assets/fonts/public-sans/webfonts/PublicSans-BoldItalic.woff") format("woff"); }
  @font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 800;
    src: url("assets/fonts/public-sans/variable/Public-Sans-Roman-VF.woff2") format("woff2-variations"), url("assets/fonts/public-sans/webfonts/PublicSans-ExtraBold.woff2") format("woff2"), url("assets/fonts/public-sans/webfonts/PublicSans-ExtraBold.woff") format("woff"); }
  @font-face {
    font-family: 'Public Sans';
    font-style: italic;
    font-weight: 800;
    src: url("assets/fonts/public-sans/variable/Public-Sans-Italic-VF.woff2") format("woff2-variations"), url("assets/fonts/public-sans/webfonts/PublicSans-ExtraBoldItalic.woff2") format("woff2"), url("assets/fonts/public-sans/webfonts/PublicSans-ExtraBoldItalic.woff") format("woff"); }
  @font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 900;
    src: url("assets/fonts/public-sans/variable/Public-Sans-Roman-VF.woff2") format("woff2-variations"), url("assets/fonts/public-sans/webfonts/PublicSans-Black.woff2") format("woff2"), url("assets/fonts/public-sans/webfonts/PublicSans-Black.woff") format("woff"); }
  @font-face {
    font-family: 'Public Sans';
    font-style: italic;
    font-weight: 900;
    src: url("assets/fonts/public-sans/variable/Public-Sans-Italic-VF.woff2") format("woff2-variations"), url("assets/fonts/public-sans/webfonts/PublicSans-BlackItalic.woff2") format("woff2"), url("assets/fonts/public-sans/webfonts/PublicSans-BlackItalic.woff") format("woff"); }
    @font-face {
    font-family: 'CooperHewitt';
    font-style: normal;
    font-weight: 100;
    src: url("assets/fonts/CooperHewitt-WebFonts-public/CooperHewitt-Thin.eot");
    src: url("assets/fonts/CooperHewitt-WebFonts-public/CooperHewitt-Thin.eot?#iefix") format("embedded-opentype"), url("assets/fonts/CooperHewitt-WebFonts-public/CooperHewitt-Thin.woff") format("woff"), url("assets/fonts/CooperHewitt-WebFonts-public/CooperHewitt-Thin.svg#webfont") format("svg"); }
  @font-face {
    font-family: 'CooperHewitt';
    font-style: italic;
    font-weight: 100;
    src: url("assets/fonts/CooperHewitt-WebFonts-public/CooperHewitt-ThinItalic.eot");
    src: url("assets/fonts/CooperHewitt-WebFonts-public/CooperHewitt-ThinItalic.eot?#iefix") format("embedded-opentype"), url("assets/fonts/CooperHewitt-WebFonts-public/CooperHewitt-ThinItalic.woff") format("woff"), url("assets/fonts/CooperHewitt-WebFonts-public/CooperHewitt-ThinItalic.svg#webfont") format("svg"); }
  @font-face {
    font-family: 'CooperHewitt';
    font-style: normal;
    font-weight: 200;
    src: url("assets/fonts/CooperHewitt-WebFonts-public/CooperHewitt-Light.eot");
    src: url("assets/fonts/CooperHewitt-WebFonts-public/CooperHewitt-Light.eot?#iefix") format("embedded-opentype"), url("assets/fonts/CooperHewitt-WebFonts-public/CooperHewitt-Light.woff") format("woff"), url("assets/fonts/CooperHewitt-WebFonts-public/CooperHewitt-Light.svg#webfont") format("svg"); }
  @font-face {
    font-family: 'CooperHewitt';
    font-style: italic;
    font-weight: 200;
    src: url("assets/fonts/CooperHewitt-WebFonts-public/CooperHewitt-LightItalic.eot");
    src: url("assets/fonts/CooperHewitt-WebFonts-public/CooperHewitt-LightItalic.eot?#iefix") format("embedded-opentype"), url("assets/fonts/CooperHewitt-WebFonts-public/CooperHewitt-LightItalic.woff") format("woff"), url("assets/fonts/CooperHewitt-WebFonts-public/CooperHewitt-LightItalic.svg#webfont") format("svg"); }
  @font-face {
    font-family: 'CooperHewitt';
    font-style: normal;
    font-weight: 300;
    src: url("assets/fonts/CooperHewitt-WebFonts-public/CooperHewitt-Book.eot");
    src: url("assets/fonts/CooperHewitt-WebFonts-public/CooperHewitt-Book.eot?#iefix") format("embedded-opentype"), url("assets/fonts/CooperHewitt-WebFonts-public/CooperHewitt-Book.woff") format("woff"), url("assets/fonts/CooperHewitt-WebFonts-public/CooperHewitt-Book.svg#webfont") format("svg"); }
  @font-face {
    font-family: 'CooperHewitt';
    font-style: italic;
    font-weight: 300;
    src: url("assets/fonts/CooperHewitt-WebFonts-public/CooperHewitt-BookItalic.eot");
    src: url("assets/fonts/CooperHewitt-WebFonts-public/CooperHewitt-BookItalic.eot?#iefix") format("embedded-opentype"), url("assets/fonts/CooperHewitt-WebFonts-public/CooperHewitt-BookItalic.woff") format("woff"), url("assets/fonts/CooperHewitt-WebFonts-public/CooperHewitt-BookItalic.svg#webfont") format("svg"); }
  @font-face {
    font-family: 'CooperHewitt';
    font-style: normal;
    font-weight: 400;
    src: url("assets/fonts/CooperHewitt-WebFonts-public/CooperHewitt-Medium.eot");
    src: url("assets/fonts/CooperHewitt-WebFonts-public/CooperHewitt-Medium.eot?#iefix") format("embedded-opentype"), url("assets/fonts/CooperHewitt-WebFonts-public/CooperHewitt-Medium.woff") format("woff"), url("assets/fonts/CooperHewitt-WebFonts-public/CooperHewitt-Medium.svg#webfont") format("svg"); }
  @font-face {
    font-family: 'CooperHewitt';
    font-style: italic;
    font-weight: 400;
    src: url("assets/fonts/CooperHewitt-WebFonts-public/CooperHewitt-MediumItalic.eot");
    src: url("assets/fonts/CooperHewitt-WebFonts-public/CooperHewitt-MediumItalic.eot?#iefix") format("embedded-opentype"), url("assets/fonts/CooperHewitt-WebFonts-public/CooperHewitt-MediumItalic.woff") format("woff"), url("assets/fonts/CooperHewitt-WebFonts-public/CooperHewitt-MediumItalic.svg#webfont") format("svg"); }
  @font-face {
    font-family: 'CooperHewitt';
    font-style: normal;
    font-weight: 500;
    src: url("assets/fonts/CooperHewitt-WebFonts-public/CooperHewitt-Semibold.eot");
    src: url("assets/fonts/CooperHewitt-WebFonts-public/CooperHewitt-Semibold.eot?#iefix") format("embedded-opentype"), url("assets/fonts/CooperHewitt-WebFonts-public/CooperHewitt-Semibold.woff") format("woff"), url("assets/fonts/CooperHewitt-WebFonts-public/CooperHewitt-Semibold.svg#webfont") format("svg"); }
  @font-face {
    font-family: 'CooperHewitt';
    font-style: italic;
    font-weight: 500;
    src: url("assets/fonts/CooperHewitt-WebFonts-public/CooperHewitt-SemiboldItalic.eot");
    src: url("assets/fonts/CooperHewitt-WebFonts-public/CooperHewitt-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("assets/fonts/CooperHewitt-WebFonts-public/CooperHewitt-SemiboldItalic.woff") format("woff"), url("assets/fonts/CooperHewitt-WebFonts-public/CooperHewitt-SemiboldItalic.svg#webfont") format("svg"); }
  @font-face {
    font-family: 'CooperHewitt';
    font-style: normal;
    font-weight: 700;
    src: url("assets/fonts/CooperHewitt-WebFonts-public/CooperHewitt-Bold.eot");
    src: url("assets/fonts/CooperHewitt-WebFonts-public/CooperHewitt-Bold.eot?#iefix") format("embedded-opentype"), url("assets/fonts/CooperHewitt-WebFonts-public/CooperHewitt-Bold.woff") format("woff"), url("assets/fonts/CooperHewitt-WebFonts-public/CooperHewitt-Bold.svg#webfont") format("svg"); }
  @font-face {
    font-family: 'CooperHewitt';
    font-style: italic;
    font-weight: 700;
    src: url("assets/fonts/CooperHewitt-WebFonts-public/CooperHewitt-BoldItalic.eot");
    src: url("assets/fonts/CooperHewitt-WebFonts-public/CooperHewitt-BoldItalic.eot?#iefix") format("embedded-opentype"), url("assets/fonts/CooperHewitt-WebFonts-public/CooperHewitt-BoldItalic.woff") format("woff"), url("assets/fonts/CooperHewitt-WebFonts-public/CooperHewitt-BoldItalic.svg#webfont") format("svg"); }
  @font-face {
    font-family: 'CooperHewitt';
    font-style: normal;
    font-weight: 800;
    src: url("assets/fonts/CooperHewitt-WebFonts-public/CooperHewitt-Heavy.eot");
    src: url("assets/fonts/CooperHewitt-WebFonts-public/CooperHewitt-Heavy.eot?#iefix") format("embedded-opentype"), url("assets/fonts/CooperHewitt-WebFonts-public/CooperHewitt-Heavy.woff") format("woff"), url("assets/fonts/CooperHewitt-WebFonts-public/CooperHewitt-Heavy.svg#webfont") format("svg"); }
  @font-face {
    font-family: 'CooperHewitt';
    font-style: italic;
    font-weight: 800;
    src: url("assets/fonts/CooperHewitt-WebFonts-public/CooperHewitt-HeavyItalic.eot");
    src: url("assets/fonts/CooperHewitt-WebFonts-public/CooperHewitt-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("assets/fonts/CooperHewitt-WebFonts-public/CooperHewitt-HeavyItalic.woff") format("woff"), url("assets/fonts/CooperHewitt-WebFonts-public/CooperHewitt-HeavyItalic.svg#webfont") format("svg"); }
  

/* ---- reset ---- */

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Public Sans', 'Lato', 'Arial';
    margin: 0;
    color:#2A2A2A;
    line-height: 1.6rem;
}

section {
    margin-top: 0;
}

a {
    text-decoration: none;
    color: #055EA7;
    font-weight: 400;
}

.about-me a:hover {
    color: rgb(5, 64, 112);
}

/* ---- typography ---- */

body {
    font-size: 1.1em;
    line-height: 1.45;
}
/*  */

h1 {}

h2 {
    font-family: 'CooperHewitt', 'Lato', serif;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 54px;
    line-height: normal;
}

h3 {
    font-family: 'CooperHewitt', 'Lato', serif;
    font-size: 35px;
    text-align: center;
}

h4 {
    font-size: 1.3em;
    margin-bottom: 1em;
}
  
p {
    margin: ;
}

/* ---- header ---- */

header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
    box-shadow: 1px -5px 20px rgba(173, 173, 173, 0.5);
}

.header-brand {
    font-size: 30px;
    margin-left: 5rem;
    color: #D8110B;
    font-weight: bold;
}

header a {
    font-weight: 400;
    color: #9B9B9B;
}

header a:hover {
    color: #055EA7;
}

.nav-list li {
    display: inline;
    padding: 20px;
}

nav {
    margin-right: 50px;
    font-size: 20px;
}


/* ---- main ---- */

.pitch {
    font-size: 54px;
    line-height: normal;
    font-family: 'CooperHewitt', 'Lato', sans-serif;
    font-weight: bold;
    color: #2a2a2a;
    text-align:left;
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    align-items: center;
}

.name-colored {
    color: #D8110B;
}

/*--- about structure ---*/

.about-me article {
/*---    display: flex;---*/
    justify-content: space-between;
    margin-bottom: 150px;
    margin-right: auto;
    margin-left: auto;
    max-width: 670px;
}

.about-me p {
    width: 100%;
    text-align: left;
    margin-right: auto;
    margin-left: auto;
}

.about-me img {
    width: 40%;
    height: 40%;
}

#social-media-logo {
    width: 30px;
    height: 30px;
    fill: #9c9c9c;
    margin-right: 15px;
}

/*--- experience section ---*/

#img-experience {
    width: 100%;
}

#experience-section {
    margin-top: 100px;
}

.experience-grid p {
    text-align: left;
    margin-right: auto;
    margin-left: auto;
}

.experience-grid ul {
    text-align: left;
    margin-right: auto;
    margin-left: auto;
}

.text-experience {
    margin-top: 30px;
}

/* --- Introduction to the case studies section --- */


.arrow {
    height: 42px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    animation: cubic-bezier(1)
}


/*--- Case study structure ---*/

article {
    display: block;
    /* margin-left: 20%;
    margin-right: 20%; */
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
}

.case-study-intro {
    display: flex;
    justify-content: space-between;
}

article p {
    margin-top: 0;
}

.case-study-text p {
    margin-bottom: 50px;
}

.case-study-left img {
    height: 500px;
}

.case-study-left .case-study-intro .case-study-text {
    margin-left: 117px;
}

.case-study-right .case-study-intro .case-study-text {
    margin-right: 49px;
}

.case-study-right img {
    max-width: 500px;
    max-height: 294px;
}

.tags {
    list-style: none;
    padding-left: 0%;
    color: #d8110b;
}

.tags li {
    display: inline;
    font-weight: bold;
    padding-right: 10px;
}

/*--- other designs structure ---*/

#other-designs img {
    width: 100%;
}

/*--- Education structure ---*/
.about-me article div {
    max-width: 500px;
}



/* --- components ---*/

.button {
    background-color: #055EA7;
    color: white;
    padding: 10px 50px;
    border-radius: 30px;
}

.button:hover {
    background-color: rgb(9, 124, 218);
}

/* --- Placeholders for navigation ---*/

#test {
    height: 100px;
    margin: 0;
    padding: 0;
}

.comic-shop-redesign {
    max-width: 500px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}


/* ---- media queries ---- */
  
@media (max-width: 1080px) {
    .hector {
        margin-left: auto;
    }



}

@media (max-width: 900px) {
    .header-brand {
        font-size: 20px;
        margin-left: 10px;
        width: 140px;
        min-width: 150px;
    }

    .nav-list li {
        display: inline;
        padding: 10px;
    }

    nav {
        margin: 0 2rem 0 0;
    }

    .pitch {
        max-width: 540px;
        font-size: 2.4em;
    }

    article {
        width: 90%;
    }
    
    .case-study-intro {
        flex-direction: column;
    }
    
    .case-study-intro img {
        margin-left: auto;
        margin-right: auto;
        order: -2;
    }
    
    .case-study-text {
        margin-left: auto;
        margin-right: auto;
    }

    .about-me article {
        display: flex;
        flex-direction: column;
    }

    .about-me img {
        margin-left: auto;
        margin-right: auto;
    }

    /*.about-me p {
        margin-top: 30px;
        margin-right: auto;
        margin-left: auto;
    } */

    .separation-line-left, .separation-line-right {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media (max-width: 660px) {
    .case-study-left img {
        height: 500px;
    }

    .case-study-right img {
        width: 100%;
        margin-left: auto;
        margin-right: auto;    }

    p {

        margin-left: auto;
        margin-right: auto;
    }

    .case-study-left .case-study-intro .case-study-text {
        margin-left: auto;
    }
    
    .case-study-right .case-study-intro .case-study-text {
        margin-right: auto;
    }
    
    header {
        flex-direction: column;
    }

    .header-brand {
        font-size: 20px;
        margin-left: 10px;
        width: 140px;
        min-width: 150px;
    }

    .nav-list li {
        display: inline;
        padding: 10px;
    }

    nav {
        margin: auto;
    }

    .nav-list {
        padding: 0;
    }

    #experience-section {
        margin-top: 150px;
    }

    .pitch {
        font-size: 35px;
        margin: 1rem;
        text-align: center;
    }

.about-me {
    margin-top: 1.5em;
}

    .hr-heading {
        margin-top: 1rem;
    }

    section {
        margin-top: 75px;
    }

    article {
        margin-bottom: 150px;
    }
}


